header{
  width: 1440px;
  height: 100px;
  border: 1px solid red;
  margin: 0 auto;

}

.lading{
  display: flex;

}
button{
  width: 100px;
  height: 50px;
  background-color: rgb(152, 159, 159);
  border: none;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 60px;
}
h3{
  margin-left: 420px;
  margin-top:40px;
}
h1{
  margin-top: 20px;
  margin-left: 50px;
}

.footer {
    width: 1440px;
    background: rgb(25, 66, 64);
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    margin: 0 auto;
  }
  
  .footer-container {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    margin: 0 10px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: 14px;
  }